<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<table class="table table-bordered">
  <thead>
    <th colspan="2">count of Categories</th>
      <tbody>
        <tr>
          <td>
            <h4><%= @categoryCount %></h4>
          </td>
        </tr>
      </tbody>
  </thead>
</table>
<table class="table table-bordered">
  <thead>
    <th colspan="2">count of Products</th>
      <tbody>
        <tr>
          <td>
            <h4><%= @productsCount %></h4>
          </td>
        </tr>
      </tbody>
  </thead>
</table>