<h1>new category</h1>
<div class="well">
    <%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [:admin, @category] do |form| %>
        <%= form.submit 'Create Product', class: 'btn btn-primary' %>
      <% end %>
    <div>
  <div>